.footer {
  background-color: #c4bbdd;
  color: black;
  padding: 50px 0;
  margin-top: 3rem;
}

.contact-info p {
  margin-bottom: 5px;
}

.contact-info p:last-child {
  margin-bottom: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: black;
  text-decoration: none;
}

.copyright {
  margin: 0;
}