.nav-link-custom {
  color: black !important;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 8px 12px;
  border-radius: 5px;
}

.nav-link-custom:hover {
  background-color: #7d729b !important;
  color: #ffffff !important;
}

.custom-primary {
  background-color: #c4bbdd !important; 
  border-color: #7d729b !important;
  border-radius: "5px";
  border-width: "1px";
  color: black !important;
}

.custom-primary:hover {
  background-color: #7d729b !important;
  border-color: #7d729b !important;
  color: #fff !important;
}