.nav-link-custom {
    color: #000; 
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link-custom:hover {
    color: #7d729b"; 
  }
  .custom-primary {
    background-color:  #c4bbdd !important;
    border-color: #7d729b !important;
  }
  
  .custom-primary:hover {
    background-color: #ffe171!important;
    border-color: #ffe171 !important;
    color:#000;
  }
  